@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); */

a:link, a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
}

a:hover, a:active {
  color: green;
}

.logo{
    font-family: 'Dancing Script';
}

.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* max-width: 60%; */
    justify-content: center;
    padding: 0 19rem;
    /* background-color: white; */
}

.layout{
    display: flex;
    flex-direction: column;
    /* padding: 0 8rem; */
}
.my-feed-layout{
    /* padding: 12px; */
    /* margin: 2rem; */
}

.reaction-container{
    padding: 1rem 0rem;
    border-radius: 0.7rem !important;
    border: 1px solid gray;
}

.reaction-button{
    display: flex;
    /* max-width: 150px; */
    /* justify-content: space-between; */
    align-items: center;
}

.likes-button{
    display: flex;
    padding: 0.5rem;
}

.post-details{
    padding: 0.5rem;
}

.footer{
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    flex-wrap: wrap;
}

.footer ul li{
    margin: 0 10px;
}
.footer p{
    font-size: 12px;
}

.account{
    display: flex;
    padding: 0 4rem;
    justify-content: center;
    align-items: center;
}
.account-inner{
    display: flex;
    flex-direction: column;
    max-width: 10rem;
    margin: 1rem;
}

.instaclone-login{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: auto;
}

.instaclone-login div{
    margin:  .7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instaclone-login div h2{
    font-size: 3rem;
    font-weight: 900;
}

.instaclone-login div input{
    padding: .5rem 0;
    border: none;
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    border-radius: .5em;
}

input::placeholder {
    text-align: center;
}

.instaclone-login div input:focus{
    border: none;
    /* background-color: black; */
}

.instaclone-pic{
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    justify-content: center;
    align-items: center;
    width: 20rem;
}

.footer-image{
    width: 10rem;
}

.some-foot ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    flex-wrap: wrap;
}

.some-foot ul li{
    padding: 0 1rem;
}

.some-foot div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* css for instagram landing */
.insta-landing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;
}

@media only screen and (max-width: 320px) {
    .image-tag{
        display: none;
    }
}